{% extends "layout.html" %}
{% block title %}Form{% endblock %}


{% block content %}
<h1>Link Cat</h1>
<h2>Categorized Links</h2>

{% if error_msg %}
<div class="alert alert-danger">
  <strong>Error!</strong> {{error_msg}}
</div>
{% endif %}
{% if success_msg %}
<div class="alert alert-success">
  <strong>Success!</strong> {{success_msg}}
</div>
{% endif %}

<section>
  <!-- url = db.Column(db.String, nullable=False)
    public = db.Column(db.Boolean, default=True)
    title = db.Column(db.String, nullable=False)
    description = db.Column(db.String, nullable=False)
    user_id = db.Column(db.String, db.ForeignKey("users.id"), nullable=False)
    categories  -->

  <form>
    <div class="form-group">
      <label for="url-input">URL</label>
      <input type="url" class="form-control" name="url-input" id="url-input" placeholder="https://www.example.com">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="url-title" id="url-title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description-title" id="description-title" placeholder="Description">
    </div>
    <p>Categories</p>
    {% if categories %}
    {% for c in categories %}
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{c.description}}" name="categories"
          id="cat{{loop.index0}}">
        <label class="form-check-label" for="cat{{loop.index0}}">
          JavaScript
        </label>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No categories available</p>
    {% endif %}
   <ul class="form-buttons">
      <li>
        <a href="{{ url_for('form') }}" role="button" class="btn btn-info btn-large">Add</a>
      </li>
      <li>
        <a href="{{ url_for('form') }}" role="button" class="btn btn-info btn-large">Update</a>
      </li>
      <li>
        <a href="{{ url_for('form') }}" role="button" class="btn btn-info btn-large">Delete</a>
      </li>
    </ul>
  </form>
</section>

<footer>
  <p>Photo via <a href="https://www.goodfreephotos.com/">Good Free Photos</a></p>
  <p>Photo via <a href="https://www.freeiconspng.com/images/cat-icon">Cat Icons</a></p>
</footer>
{% endblock %}