{% extends "layout.html" %}
{% block title %}Form{% endblock %}


{% block content %}
<h1>Link Cat</h1>
<h2>Categorized Links</h2>
{% if default_entry and default_entry.link_id %}
<h3>Update Link</h3>
{% else %}
<h3>Add Link</h3>
{% endif %}


{% if error_msg %}
<div class="alert alert-danger">
  <strong>Error!</strong> {{error_msg}}
</div>
{% endif %}
{% if success_msg %}
<div class="alert alert-success">
  <strong>Success!</strong> {{success_msg}}
</div>
{% endif %}

<section>
  <!-- url = db.Column(db.String, nullable=False)
    public = db.Column(db.Boolean, default=True)
    title = db.Column(db.String, nullable=False)
    description = db.Column(db.String, nullable=False)
    user_id = db.Column(db.String, db.ForeignKey("users.id"), nullable=False)
    categories  -->

  <!-- if there is a link_id then its an update otherwise its an add -->
  <form method="post"
    action="{% if default_entry and default_entry.link_id %}{{url_for('process_update_link')}}{% else %}{{url_for('add_link')}}{% endif %}">
    <input type="hidden" name="link-id" value="{% if default_entry is defined and  default_entry.link_id %}{{default_entry.link_id}}{%endif%}">
    <div class="form-check-inline float-right">
      <label class="form-check-label" for="pubpriv1">
        <input type="radio" {% if default_entry is defined and  default_entry.public %} checked {% endif %}
          value="public" class="form-check-input" id="pubpriv1" name="pubpriv-input">
        Public
      </label>
    </div>
    <div class="form-check-inline float-right">
      <label class="form-check-label" for=pubpriv2>
        <input type="radio" {% if default_entry is defined and not default_entry.public %} checked {% endif %}
          value="private" class="form-check-input" id="pubpriv2" name="pubpriv-input">
        Private
      </label>
    </div>
    <div class="form-group">
      <label for="url-input">URL</label>
      <input type="url" class="form-control" name="url-input" id="url-input"
        value="{% if default_entry is defined and default_entry.url %} {{default_entry.url}}  {% endif %} "
        placeholder="https://www.example.com">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title-input" id="title-input"
        value="{% if default_entry is defined and default_entry.title %} {{default_entry.title}}  {% endif %} "
        placeholder="Title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control"
        value="{% if default_entry is defined and default_entry.description %} {{default_entry.description}}  {% endif %} "
        name="description-input" id="description-input" lder="Description">
    </div>
    <p>Categories</p>
    {% if not categories %}
    <p>No categories available</p>
    {% else %}
    <div class="cat-group">
      {% for c in categories %}
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{c.description}}"
            {% if categories is defined and c.description in default_entry.categories %} checked {% endif %}
            name="category-input" id="cat{{loop.index0}}">
          <label class="form-check-label" for="cat{{loop.index0}}">
            {{c.description}}
          </label>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <ul class="form-buttons">
      {%if default_entry is defined and default_entry.link_id is not defined %}
      <li>
        <button type="sumbit" class="btn btn-info btn-large">Add Link</button>
      </li>
      {% else %}
      <li>
        <button type="sumbit" class="btn btn-info btn-large">Update Link</button>
      </li>
      {% endif %}
      <li>
        <a href="{{url_for('index')}}" class="btn btn-info btn-large">Cancel</a>
      </li>
    </ul>
  </form>
</section>

<footer>
  <p>Photo via <a href="https://www.goodfreephotos.com/">Good Free Photos</a></p>
  <p>Photo via <a href="https://www.freeiconspng.com/images/cat-icon">Cat Icons</a></p>
</footer>
{% endblock %}