{% extends "layout.html" %}
{% block title %}Home{% endblock %}





{% block content %}
<h1>Link Cat</h1>
<h2>Categorized Links</h2>

{% if error_msg %}
<div class="alert alert-danger">
  <strong>Error!</strong> {{error_msg}}
</div>
{% endif %}
{% if success_msg %}
<div class="alert alert-success">
  <strong>Success!</strong> {{success_msg}}
</div>
{% endif %}

<section>
  <div class="py-2">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="o-switch btn-group" data-toggle="buttons" role="group">
            <label class="btn btn-secondary both-switch">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Both
            </label>
            <label class="btn btn-secondary  public-switch">
              <input type="radio" name="options" id="option2" autocomplete="off"> Public
            </label>
            <label class="btn btn-secondary private-switch">
              <input type="radio" name="options" id="option3" autocomplete="off"> Private
            </label>
          </div>

        </div>
        {% if session["current_user"] %}
        <div class="col-md-8">
          <a href="{{ url_for('add_link') }}" role="button" class="btn btn-info btn-large">Add Link</a>
          <a href="{{ url_for('manage_categories')}}" role="button" class="btn btn-info btn-large">Manage Categories</a>
        </div>
      
        {% endif %}
      </div>

      <div class="row hidden-md-up public-row">
        {% for l in public_links %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-block {{l.getPublicPrivateClass()}}">
              <h4 class="card-title">{{l.title}}</h4>
              <p class="cat">
                {% for c in l.categories %}
                <span class="badge badge-secondary">{{c.description}}</span>
                {% endfor %}
              </p>
              <p class="card-text p-y-1">{{l.description}}</p>
              <a href="{{l.url}}" class="action card-link" target="_blank"><span
                  class="badge badge-info">Website</span></a>
              <!-- if public link is owned by user let them update and delete-->
              {% if session["current_user"] %}
              {% if l.ownedBy(session["current_user"].id)%}
              <a href="{{url_for('update_link',link_id=l.id)}}" class="action card-link"><span
                  class="badge badge-info">Update</span></a>
              <a href="{{url_for('delete_link',link_id=l.id)}}" class="action card-link"><span
                  class="badge badge-info">Delete</span></a>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% if private_links %}
      <div class="row hidden-md-up private-row">
        {% for l in private_links %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-block {{l.getPublicPrivateClass()}}">
              <h4 class="card-title">{{l.title}}</h4>
              <p class="cat">
                {% for c in l.categories %}
                <span class="badge badge-secondary">{{c.description}}</span>
                {% endfor %}
              </p>
              <p class="card-text p-y-1">{{l.description}}</p>
              <a href="{{l.url}}" class="card-link" target="_blank"><span class="badge badge-info">View</span></a>
              <a href="{{url_for('update_link',link_id=l.id)}}" class="action card-link"><span
                  class="badge badge-info">Update</span></a>
              <a href="{{url_for('delete_link',link_id=l.id)}}" class="action card-link"><span
                  class="badge badge-info">Delete</span></a>


            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

    </div>
  </div>

</section>

<footer>
  <p>Photo via <a href="https://www.goodfreephotos.com/">Good Free Photos</a></p>
  <p>Photo via <a href="https://www.freeiconspng.com/images/cat-icon">Cat Icons</a></p>
</footer>
{% endblock %}